<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>GoogleRankTracker</string>

  <key>CFBundleDisplayName</key>
  <string>GoogleRankTracker</string>

  <key>CFBundleExecutable</key>
  <string>ranktracker</string>

  <key>CFBundleIdentifier</key>
  <string>com.brandthatname.GoogleRankTracker</string>

  <key>CFBundleVersion</key>
  <string>0.0.1</string>

  <key>CFBundlePackageType</key>
  <string>APPL</string>

  <key>CFBundleSignature</key>
  <string>grtr</string>
</dict>
</plist>
